@model RadioCab.Models.Advertisment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Advertisment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdTilte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdTilte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdDescript)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdDescript)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
