@model IEnumerable<RadioCab.Models.Advertisment>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Advertisment
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Advertisments" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Advertisment
            </a>
        </div>
    </div>
    <div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdTilte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdDescript)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdTilte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdDescript)
            </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AdId" class="btn btn-warning">
                                <i class="bi bi-pencil"></i> Edit
                            </a>
                            |
                            <a asp-action="Details" asp-route-id="@item.AdId" class="btn btn-info">
                                <i class="bi bi-info-circle"></i> Details
                            </a>
                            |
                            <a asp-action="Delete" asp-route-id="@item.AdId" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>

        </tr>
}
    </tbody>
</table>
    </div>
